{% if include.data != null %}
    {% assign data=include.data %}
{% else %}
    {% assign data=include %}
{% endif %}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">{{ data.title }}</span>
                <h2>{{ data.description }}</h2>
            </div>
        </div>
        <div class="row">
            {% for content in data.contents %}
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="{{ content.url }}" class="block-20" style="background-image: url('{{ content.image | site.baseurl }}');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            {% if content.date != null %}
                                <div><a href="#"><span class="icon-calendar"></span> {{ content.date | date: '%B %d, %Y' }}</a></div>
                            {% endif %}
                            {% if content.author != null %}
                                <div><a href="#"><span class="icon-person"></span> {{ content.author }}</a></div>
                            {% endif %}
                            {% if content.price != null %}
                                <div><a href="#"><span class="icon-price"></span> {{ content.price }}</a></div>
                            {% endif %}
                        </div>
                        <h3 class="heading"><a href="{{ content.url }}">{{ content.title }}</a></h3>
                        <div>{{ content.description }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>