<!-- START nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/{{ site.index[page.lang] }}">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50px" height="32px" version="1.1" style="display: block; shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 5237 4056"
       xmlns:xlink="http://www.w3.org/1999/xlink">
       <defs>
        <style type="text/css">
         <![CDATA[
          .fil2 {fill:none;fill-rule:nonzero}
          .fil1 {fill:currentColor;fill-rule:nonzero}
          .fil0 {fill:currentColor;fill-rule:nonzero}
         ]]>
        </style>
       </defs>
       <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <g id="_743598928">
         <path class="fil0" d="M3162 -1l0 706c326,-33 630,-41 900,-24 44,3 88,6 130,10l0 -692 -1030 0z"/>
         <path class="fil0" d="M2076 933l0 -934 -1030 0 0 1306c265,-126 569,-240 900,-336 43,-12 86,-24 130,-36z"/>
         <path class="fil0" d="M4062 1047c-260,3 -567,37 -900,102l0 1284 -1086 0 0 -986c-44,15 -87,31 -130,47 -351,133 -658,280 -900,430l0 730c0,215 79,398 235,549 156,152 345,227 566,227l1544 0c221,0 410,-75 566,-227 157,-151 235,-334 235,-549l0 -186 0 -195 0 -195 0 -163 0 -867c-42,-1 -85,-2 -130,-1z"/>
         <path class="fil2" d="M2115 1571l0 879 1100 0 0 -1196c-172,36 -349,80 -529,131 -200,57 -391,120 -571,186z"/>
         <path class="fil1" d="M5231 1161c-60,-312 -520,-498 -1183,-533 -306,-16 -656,0 -1031,52 -188,26 -383,61 -582,105 -174,38 -342,82 -503,131 -387,115 -736,256 -1027,409 -601,316 -959,686 -898,999 41,214 270,369 623,456 -73,-43 -122,-98 -140,-164 -48,-175 115,-401 422,-631 255,-191 609,-386 1025,-558 177,-73 366,-143 562,-206 179,-57 353,-105 523,-146 382,-91 735,-141 1029,-148 465,-12 783,81 838,280 61,221 -217,524 -697,815l0 208c685,-330 1103,-732 1039,-1069z"/>
        </g>
       </g>
      </svg>        
      {{ site.name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {% for menu in site.data.menus %}

        {% if page.ref contains menu.ref %}
          {% assign active = 'active' %}
        {% else %}
          {% assign active = '' %}
        {% endif %}

        {% if menu.sub %}
        <li class="nav-item {{ active }} dropdown">
            <a class="nav-link dropdown-toggle" href="{{ menu.path[page.lang] }}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.title[page.lang] }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              {% for sub in menu.sub %}
              <a class="dropdown-item" href="{{ sub.path[page.lang] }}">{{ sub.title[page.lang] }}</a>
              {% endfor %}
            </div>
        </li>
        {% else %}
        <li class="nav-item {{ active }}"><a href="{{ menu.path[page.lang] }}" class="nav-link">{{ menu.title[page.lang] }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->