<!-- START nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/{{ site.index[page.lang] }}">{{ site.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {% for menu in site.data.menus %}

        {% if page.ref contains menu.ref %}
          {% assign active = 'active' %}
        {% else %}
          {% assign active = '' %}
        {% endif %}

        {% if menu.sub %}
        <li class="nav-item {{ active }} dropdown">
            <a class="nav-link dropdown-toggle" href="{{ menu.path[page.lang] }}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.title[page.lang] }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              {% for sub in menu.sub %}
              <a class="dropdown-item" href="{{ sub.path[page.lang] }}">{{ sub.title[page.lang] }}</a>
              {% endfor %}
            </div>
        </li>
        {% else %}
        <li class="nav-item {{ active }}"><a href="{{ menu.path[page.lang] }}" class="nav-link">{{ menu.title[page.lang] }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->