---
layout: default
---

{% include block-0.html %}

<section>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate" style="margin-bottom: 2em;">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-md-7 text heading-section ftco-animate">
                {{ content | markdownify }}
            </div>
        </div>
    </div>
</section>
